
// WEB ONLY

@media screen
    .book
        background-color: white
        padding: 0.5in
        width: 6in
    .break
        border-top: 4px solid #ccc
        margin-top: 50px
        padding-top: 50px
    .footnote-item
        display: none

// PAGES

@page
    size: 6in 9in
    margin: 0.5in
    margin-top: 0.8in  // 0.5 + 0.3 for footer and spacing below footer

    @top-left
        height: 0.3in  // Consistent height even if no text in header
        vertical-align: top
        font-size: 9pt

    @top-center
        height: 0.3in
        vertical-align: top
        font-size: 9pt
        font-style: italic

    @top-right
        height: 0.3in
        vertical-align: top
        font-size: 9pt

    @footnote
        border-top: 0.1mm solid black
        // Make border a short line rather than full width
        border-image: linear-gradient(to right, black 20%, transparent 20%) 1
        padding-top: 0.05in

@page numberless
    @top-left
        content: none
    @top-center
        content: none
    @top-right
        content: none

@page chapter-start
    @top-center
        content: none

@page :left
    margin-right: 0.875in  // 0.5 + 0.375 (recommended for 300-500 page book)
    @top-left
        content: counter(page)
    @top-center
        content: string(heading)

@page :right
    margin-left: 0.875in
    @top-center
        content: string(heading)
    @top-right
        content: counter(page)

body
    counter-reset: chapter-footnote  // Init footnote counter high up so has global scope

h1
    page: numberless

h2
    page: chapter-start
    counter-set: chapter-footnote 0  // Reset footnote counter for every chapter
    string-set: heading content()

h3, h4, h5, h6
    bookmark-level: none

h2, h3, h4, h5, h6
    break-after: avoid  // Move heading to next page if was going to break after it
    break-inside: avoid  // Don't make heading go across pages

p, blockquote, li, div
    // Ensure at least 2 lines before/after a page break, otherwise move whole block to next page
    orphans: 2
    widows: 2

table
    break-inside: avoid

.footnote-item
    float: footnote
    font-size: 8pt  // NOT em since if inline in a blockquote it would be even further smaller
    line-height: 1
    counter-increment: chapter-footnote

::footnote-call
    content: counter(chapter-footnote)
    font-size: 0.8em
    line-height: 0  // Don't cause line spacing to increase when present

::footnote-marker
    content: counter(chapter-footnote) ". "


// FONTS

@font-face
    font-family: 'Noto Serif Hebrew'
    font-style: normal
    font-weight: 400
    src: url(/_assets/fonts/noto_serif_hebrew.woff2) format('woff2')
    unicode-range: U+0590-05FF, U+200C-2010, U+20AA, U+25CC, U+FB1D-FB4F

@font-face
    font-family: 'EB Garamond Greek Ext' // greek ext (ancient Greek)
    font-style: normal
    font-weight: 400
    font-display: swap
    src: url(/_assets/fonts/eb_garamond_greek_ext.woff2) format('woff2')
    unicode-range: U+1F00-1FFF

@font-face
    font-family: 'EB Garamond Greek' // greek
    font-style: normal
    font-weight: 400
    font-display: swap
    src: url(/_assets/fonts/eb_garamond_greek.woff2) format('woff2')
    unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF


// GENERIC
.book, html
    color: black
    // WARN Weasyprint has bug that requires Greek and Greek Ext to be named separately
    font-family: 'Noto Serif Hebrew', 'EB Garamond Greek', 'EB Garamond Greek Ext', 'Crimson Pro', serif
    font-size: 11pt
    line-height: 1.3
    text-align: justify
    hyphens: auto

img
    max-width: 100%
    margin: 0.5em 0  // Since no <p> margin

mark
    background-color: hsl(0, 0%, 90%)

hr
    border-bottom-style: none
    border-top: 0.1mm solid black
    margin: 1em 0

h1, h2
    margin-top: 0
    margin-bottom: 0.25em

h3, h4, h5, h6
    margin-top: 1em
    margin-bottom: 0.25em
    text-align: left

h2
    font-size: 18pt

ol, ul
    padding-left: 1.5em

p
    margin: 0

.intro, .articles_html, .conclusion
    p + p:not(:has(img))
        text-indent: 0.25in

sup, sub
    line-height: 0

td, th
    font-size: 0.8em

a
    color: inherit
    text-decoration: none

blockquote > p
    font-size: 0.9em

table
    width: 100%
    text-align: left  // justify not good for short cells
    margin: 0.5em 0  // Since no <p> margin

    th, td
        // Stop weasyprint from setting very narrow width (doesn't balance cells as well as browsers)
        min-width: 0.6in

// COMMON

.center
    text-align: center

.titles
    text-align: center !important

    h2
        text-transform: uppercase

    .subtitle
        margin-bottom: 1mm
        font-weight: bold
        font-size: 16pt

    .author
        font-style: italic
        margin-bottom: 5mm

.player
    display: none

.footnotes-sep
    margin-top: 2em


.footnotes
    font-size: 0.8em
    line-height: 1.2

    p
        margin: 0

.footnote-item
    text-indent: 0.1in

.footnote-backref
    display: none

.section
    text-align: center
    margin-top: 2in

.break
    break-before: page

.fb-enhancer-multi, .fb-enhancer-link
    white-space: nowrap  // Prevent line breaks mid-reference



// SPECIFIC

.first-page
    page: numberless
    text-align: center
    margin-top: 2in

    h1
        span:nth-child(1)
            font-size: 70pt
        span:nth-child(3)
            font-size: 42pt

.second-page
    page: numberless
    margin-top: 2in
    img
        width: 2.5in


.third-page
    page: numberless
    margin-top: 2in
    text-align: center

.toc
    page: numberless

    .toc-title
        margin-top: 0
        margin-bottom: 5mm
        font-size: 1.5em

.toc-chapter
    font-size: 0.9em

.toc-chapter:hover
    cursor: pointer
    text-decoration: underline

.toc-chapter::after
    content: leader('.') target-counter(attr(href), page)

.profiles_html
    img
        display: none

.convos

    h3
        margin-bottom: 0.5em

    img
        display: none

    .msg
        display: flex

    .txt
        padding: 6px 12px
        border-radius: 6px
        margin: 5px 0
        position: relative
        color: black
        font-size: 10pt

        > *:first-child
            margin-top: 0 !important

        > *:last-child
            margin-bottom: 0 !important

        &:after
            content: ' '
            position: absolute
            width: 0
            height: 0
            top: 0px
            border: 10px solid transparent

    .msg:nth-of-type(odd)

        .txt
            background-color: hsl(0, 0%, 95%)

            &:after
                left: -10px
                border-top-color: hsl(0, 0%, 95%)

    .msg:nth-of-type(even)
        flex-direction: row-reverse

        .txt
            background-color: hsl(0, 0%, 85%)

            &:after
                right: -10px
                border-top-color: hsl(0, 0%, 85%)
