
// WEB ONLY

@media screen
    .book
        background-color: white
        padding: 0.5in
        width: 6in
    .break
        border-top: 4px solid #ccc
        margin-top: 50px
        padding-top: 50px

// PAGES

@page
    size: 6in 9in
    margin: 0.5in


// FONTS

// Crimson Pro and Noto Serif Hebrew
@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,200..900;1,200..900&family=Noto+Serif+Hebrew:wdth,wght@62.5..100,100..900&display=swap')

// Noto Serif Greek requires manual limiting of unicode range
@font-face
    font-family: 'Noto Serif Greek'  // greek-ext
    font-style: normal
    font-weight: 400
    font-stretch: 100%
    font-display: swap
    src: url(https://fonts.gstatic.com/s/notoserif/v23/ga6iaw1J5X9T9RW6j9bNVls-hfgvz8JcMofYTa32J4wsL2JAlAhZqFCTy8cKtq8.woff2) format('woff2')
    unicode-range: U+1F00-1FFF
@font-face
    font-family: 'Noto Serif Greek'  // greek
    font-style: normal
    font-weight: 400
    font-stretch: 100%
    font-display: swap
    src: url(https://fonts.gstatic.com/s/notoserif/v23/ga6iaw1J5X9T9RW6j9bNVls-hfgvz8JcMofYTa32J4wsL2JAlAhZqFCTxMcKtq8.woff2) format('woff2')
    unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF


// GENERIC
:host
    color: black
    font-family: 'Noto Serif Hebrew', 'Noto Serif Greek', 'Crimson Pro', serif
    font-size: 20px
    line-height: 32px

img
    width: 100%

mark
    background-color: hsl(0, 0%, 90%)

hr
    border-style: none
    border-top: 1px solid black
    margin: 16px

sup, sub
    line-height: 0

td, th
    font-size: 0.8em

a
    color: inherit
    text-decoration: none

blockquote > p
    font-size: 0.9em

table
    width: 100%

// COMMON

.titles
    text-align: center !important

    .author
        font-style: italic

.player
    display: none

.footnotes-sep
    margin-top: 64px !important


.footnotes
    font-size: 0.8em
    line-height: 1.2

    p
        margin: 0

.footnote-backref
    display: none

.website
    font-style: italic
    font-size: 0.8em

.break
    break-before: page


// SPECIFIC

.first-page
    text-align: center

    h3
        font-style: italic

.toc-chapter:hover
    cursor: pointer
    text-decoration: underline

.toc-chapter::after
    content: leader('_') target-counter(attr(href), page)

.profiles_html
    img
        display: none

.convos

    img
        display: none

    h2, h3
        margin-bottom: 36px

    .msg
        display: flex

    .txt
        padding: 6px 12px
        border-radius: 6px
        margin-bottom: 24px
        position: relative
        color: black

        > *:first-child
            margin-top: 0 !important

        > *:last-child
            margin-bottom: 0 !important

        &:after
            content: ' '
            position: absolute
            width: 0
            height: 0
            top: 0px
            border: 10px solid transparent

    .msg:nth-of-type(odd)

        .txt
            background-color: hsl(0, 0%, 95%)
            @media (min-width: 600px)
                margin-right: 100px

            &:after
                left: -10px
                border-top-color: hsl(0, 0%, 95%)

    .msg:nth-of-type(even)
        flex-direction: row-reverse

        .txt
            background-color: hsl(0, 0%, 85%)
            @media (min-width: 600px)
                margin-left: 100px

            &:after
                right: -10px
                border-top-color: hsl(0, 0%, 85%)
